{% extends "PrestaShopTestBundle::layout.html.twig" %}

{% block title %}
    Launch Test - {{ parent() }}
{% endblock %}

{% block prestaShopTest_body %}
    <button type="button" id="start" class="btn btn-outline-success btn-block">
        <i class="fas fa-angle-double-right"></i>
        <span>Start Test</span>
    </button>
    <button type="button" id="new" class="btn btn-outline-success btn-block" style="display:none">
        <i class="fa fa-home"></i>
        <span>Start a New Test</span>
    </button>
    <a href="/" id="stop" class="btn btn-outline-danger btn-block" style="display:none">
        <i class="fas fa-times"></i>
        <span>Stop Test</span>
    </a>
    <div class="modal fade" id="wait" tabindex="-1" role="dialog" aria-labelledby="waitTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <h3 style='font-family: Ubuntu Mono'>This Might Take A While...</h3>
                    <img src="../assets/imgs/loader.gif"
                         style=" display: block; margin-left: auto; margin-right: auto;">
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <nav id="sidebar" style="background-color: black; display: none">

            </nav>
        </div>
        <div class="col-md-6">
            <div class="alert alert-warning" role="alert" id="screen" style="display: none">
                <i class="fa fa-image"></i>
                <span>Test ScreenShots</span>
            </div>

            <div id="loadingScreenShots" style="display: none">
                <img src="../assets/imgs/loader.gif"
                     style=" display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="row1">
                <div id="links">


                </div>

            </div>
            <br>
            <button type="button" id="report" class="btn btn-outline-warning btn-block" style="display:none">
                <i class="fa fa-download" aria-hidden="true"></i>
                <span>Download Test Report</span>
            </button>
            <div id="loadingReports" style="display: none">
                <img src="../assets/imgs/loader.gif"
                     style=" display: block; margin-left: auto; margin-right: auto;">
            </div>


            <div id="divReports" style="display: none">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" id="frameHtml"></iframe>
                </div>


            </div>
        </div>
    </div>
    <script>
        var date;
        var testType = "{{ app.request.query.get('testType') }}";

        $('#start').on('click', function () {
            var iframe = document.createElement("iframe");
            iframe.setAttribute("id", "frame");
            iframe.setAttribute("onload", "loadFrame()");
            document.getElementById("sidebar").appendChild(iframe);
            $('#start').hide();
            $('#note').hide();
            $('#stop').show();
            $('#sidebar').show();
            arrDate = new Date().toLocaleString('en-gb').split(",");
            arrDate1 = arrDate[0].split("/");
            x = arrDate1[0];
            arrDate1[0] = arrDate1[2];
            arrDate1[2] = x;
            date = arrDate1[0] + "-" + arrDate1[1] + "-" + arrDate1[2] + arrDate[1];
            var n = date.lastIndexOf(":");
            var del = date.substring(n);
            date = date.replace(del, "");


            switch (testType) {
                case "regular" :
                    $('#frame').attr("src", "{{ path('prestaShop_test_launchTest') }}?URL={{ app.request.query.get('URL') }}& MODULE={{ app.request.query.get('MODULE') }}& HEADLESS={{ app.request.query.get('HEADLESS') }}& INSTALL={{ app.request.query.get('INSTALL') }}& TEST_ADDONS={{ app.request.query.get('TEST_ADDONS') }}& LANGUAGE={{ app.request.query.get('LANGUAGE') }}& COUNTRY={{ app.request.query.get('COUNTRY') }}& DB_SERVER={{ app.request.query.get('DB_SERVER') }}& DB_USER={{ app.request.query.get('DB_USER') }}& DB_PASSWD={{ app.request.query.get('DB_PASSWD') }}& DB_EMPTY_PASSWD={{ app.request.query.get('DB_EMPTY_PASSWD') }}& testType={{ app.request.query.get('testType') }}");

                    break;
                case "regularSpec" :
                    $('#frame').attr("src", "{{ path('prestaShop_test_launchTest') }}?URL={{ app.request.query.get('URL') }}& MODULE={{ app.request.query.get('MODULE') }}& HEADLESS={{ app.request.query.get('HEADLESS') }}& INSTALL={{ app.request.query.get('INSTALL') }}& TEST_ADDONS={{ app.request.query.get('TEST_ADDONS') }}& LANGUAGE={{ app.request.query.get('LANGUAGE') }}& COUNTRY={{ app.request.query.get('COUNTRY') }}& DB_SERVER={{ app.request.query.get('DB_SERVER') }}& DB_USER={{ app.request.query.get('DB_USER') }}& DB_PASSWD={{ app.request.query.get('DB_PASSWD') }}& DB_EMPTY_PASSWD={{ app.request.query.get('DB_EMPTY_PASSWD') }}& folder={{ app.request.query.get('folder') }}& file={{ app.request.query.get('file') }}& testType={{ app.request.query.get('testType') }}");

                    break;
                case "high" :
                    $('#frame').attr("src", "{{ path('prestaShop_test_launchTest') }}?URL={{ app.request.query.get('URL') }}& MODULE={{ app.request.query.get('MODULE') }}& HEADLESS={{ app.request.query.get('HEADLESS') }}& DIR={{ app.request.query.get('DIR') }} & testType={{ app.request.query.get('testType') }}");

                    break;
                case "highSpec" :
                    $('#frame').attr("src", "{{ path('prestaShop_test_launchTest') }}?URL={{ app.request.query.get('URL') }}& MODULE={{ app.request.query.get('MODULE') }}& DIR={{ app.request.query.get('DIR') }}& folder={{ app.request.query.get('folder') }}& file={{ app.request.query.get('file') }} & HEADLESS={{ app.request.query.get('HEADLESS') }}& testType={{ app.request.query.get('testType') }} ");

                    break;
                case "full" :
                    $('#frame').attr("src", "{{ path('prestaShop_test_launchTest') }}?URL={{ app.request.query.get('URL') }}& HEADLESS={{ app.request.query.get('HEADLESS') }}& MODULE={{ app.request.query.get('MODULE') }}& DIR={{ app.request.query.get('DIR') }} & testType={{ app.request.query.get('testType') }} ");

                    break;
                case "fullSpec" :
                    $('#frame').attr("src", "{{ path('prestaShop_test_launchTest') }}?URL={{ app.request.query.get('URL') }}& MODULE={{ app.request.query.get('MODULE') }}& DIR={{ app.request.query.get('DIR') }}& HEADLESS={{ app.request.query.get('HEADLESS') }}& folder={{ app.request.query.get('folder') }}& file={{ app.request.query.get('file') }} & testType={{ app.request.query.get('testType') }} ");

                    break;
                case "install" :
                    $('#frame').attr("src", "{{ path('prestaShop_test_launchTest') }}?HEADLESS={{ app.request.query.get('HEADLESS') }}& DIR={{ app.request.query.get('DIR') }}& URLLASTSTABLEVERSION={{ app.request.query.get('URLLASTSTABLEVERSION') }}& RCTARGET={{ app.request.query.get('RCTARGET') }}& RCLINK={{ app.request.query.get('RCLINK') }}& URL={{ app.request.query.get('URL') }}& LANGUAGE={{ app.request.query.get('LANGUAGE') }}& COUNTRY={{ app.request.query.get('COUNTRY') }}& DB_SERVER={{ app.request.query.get('DB_SERVER') }}& DB_USER={{ app.request.query.get('DB_USER') }}& DB_PASSWD={{ app.request.query.get('DB_PASSWD') }}& FILENAME={{ app.request.query.get('FILENAME') }}& DB_EMPTY_PASSWD={{ app.request.query.get('DB_EMPTY_PASSWD') }}& testType={{ app.request.query.get('testType') }} ");

                    break;
                case "installSpec" :
                    $('#frame').attr("src", "{{ path('prestaShop_test_launchTest') }}?HEADLESS={{ app.request.query.get('HEADLESS') }}& DIR={{ app.request.query.get('DIR') }}& URLLASTSTABLEVERSION={{ app.request.query.get('URLLASTSTABLEVERSION') }}& RCTARGET={{ app.request.query.get('RCTARGET') }}& RCLINK={{ app.request.query.get('RCLINK') }}& URL={{ app.request.query.get('URL') }}& LANGUAGE={{ app.request.query.get('LANGUAGE') }}& COUNTRY={{ app.request.query.get('COUNTRY') }}& DB_SERVER={{ app.request.query.get('DB_SERVER') }}& DB_USER={{ app.request.query.get('DB_USER') }}& DB_PASSWD={{ app.request.query.get('DB_PASSWD') }}& DB_EMPTY_PASSWD={{ app.request.query.get('DB_EMPTY_PASSWD') }}& FILENAME={{ app.request.query.get('FILENAME') }}& file={{ app.request.query.get('file') }}& folder={{ app.request.query.get('folder') }} & testType={{ app.request.query.get('testType') }}");

                    break;

            }

        });

        function loadFrame() {
            $('#report').show();
            $('#divReports').show();

            $.ajax({
                url: "/getScreenShots",
                data: {'date': date},
                success:
                    function (data) {

                        if ("" !== data) {

                            $('#screen').show();
                            res = data.split("\n");
                            for (i = 1; i < res.length - 1; i++) {
                                res[i] = res[i].replace("./", "");
                                $('#links').append($("<div />", {
                                        class: 'column1',


                                    }).append($("<div />", {
                                        class: 'gallery',

                                    }).append($("<a />", {
                                        href: 'assets/screenshots/' + res[i],
                                        title: res[i]

                                    }).append($("<img />", {
                                        src: 'assets/screenshots/' + res[i],
                                        alt: res[i],

                                    })))
                                    )
                                );
                            }

                        }

                    },
                complete: function () {

                }
            });
        }

        $('#stop').on('click', function () {
            //$('#stopTest').show();
            $('#wait').modal('show');
            $('#frame').attr("src", "");

            $.ajax({
                url: "/kill",
                success:
                    function (data) {


                        $('#wait').modal('hide');
                        $('#new').show();
                        $('#stop').hide();
                        //window.location.href = "/";
                        //console.log(data);
                    },
            });
        });
        $('#report').on('click', function () {
            $('#loadingReports').show();
            $.ajax({
                url: "/getReports",
                success:
                    function (data) {
                        $('#frameHtml').attr("src", "../assets/mochawesome-report/test_report.html");
                        //console.log(data);

                    },
                complete: function () {
                    $('#loadingReports').hide();
                }
            });
        });
        document.getElementById('links').onclick = function (event) {
            event = event || window.event;
            var target = event.target || event.srcElement,
                link = target.src ? target.parentNode : target,
                options = {index: link, event: event},
                links = this.getElementsByTagName('a');
            blueimp.Gallery(links, options);
        };
    </script>

{% endblock %}
