

{% extends "PrestaShopTestBundle::layout.html.twig" %}

{% block title %}
  Regular Test - {{ parent() }}
{% endblock %}

{% block prestaShopTest_body %}

<h3>Execution d'un High Test</h3>
<hr>

<script type="text/javascript">
function fun()

{ 
  window.stop(); 
  window.location.replace("kill");
}

</script>


        
<button class="btn btn-danger btn-block" onclick="fun()">Arrêter le Test</button>
<div class="embed-responsive embed-responsive-16by9">
 
<iframe class="embed-responsive-item" src="{{path('prestaShop_test_exec_high')}}?url={{ app.request.query.get('url')}}& module={{ app.request.query.get('module')}}& dir={{ app.request.query.get('dir')}}"></iframe>

</div>




    {% endblock %}
