

{% extends "PrestaShopTestBundle::layout.html.twig" %}

{% block title %}
  Install Upgrade Test - {{ parent() }}
{% endblock %}

{% block prestaShopTest_body %}

<h3>Execution d'un Install Upgrade Test</h3>
<hr>

<script type="text/javascript">
function fun()

{ 
  window.stop(); 
  window.location.replace("kill");
}

</script>


        
<button class="btn btn-danger btn-block" onclick="fun()">Arrêter le Test</button>
<div class="embed-responsive embed-responsive-16by9">
 
<iframe class="embed-responsive-item" src="{{path('prestaShop_test_exec_install')}}?headless={{ app.request.query.get('headless')}}& dir={{ app.request.query.get('dir')}}& last={{ app.request.query.get('last')}}& target={{ app.request.query.get('target')}}& link={{ app.request.query.get('link')}}& url={{ app.request.query.get('url')}}& language={{ app.request.query.get('language')}}& country={{ app.request.query.get('country')}}& dbServer={{ app.request.query.get('dbServer')}}& dbUser={{ app.request.query.get('dbUser')}}& dbPwd={{ app.request.query.get('dbPwd')}}& dbEPwd={{ app.request.query.get('dbEPwd')}}& fileName={{ app.request.query.get('fileName')}}"></iframe>

</div>




    {% endblock %}
