

{% extends "PrestaShopTestBundle::layout.html.twig" %}

{% block title %}
  Install Upgrade Test - {{ parent() }}
{% endblock %}

{% block prestaShopTest_body %}

<h3>Execution d'un Install Upgrade Test Specifique</h3>
<hr>

<script type="text/javascript">
function fun()

{ 
  window.stop(); 
  window.location.replace("kill");
}

</script>


        
<button class="btn btn-danger btn-block" onclick="fun()">Arrêter le Test</button>
<div class="embed-responsive embed-responsive-16by9">
 
<iframe class="embed-responsive-item" src="{{path('prestaShop_test_exec_spec_install')}}?headless1={{ app.request.query.get('headless1')}}& dir1={{ app.request.query.get('dir1')}}& last1={{ app.request.query.get('last1')}}& target1={{ app.request.query.get('target1')}}& link1={{ app.request.query.get('link1')}}& url1={{ app.request.query.get('url1')}}& language1={{ app.request.query.get('language1')}}& country1={{ app.request.query.get('country1')}}& dbServer1={{ app.request.query.get('dbServer1')}}& dbUser1={{ app.request.query.get('dbUser1')}}& dbPwd1={{ app.request.query.get('dbPwd1')}}& dbEPwd1={{ app.request.query.get('dbEPwd1')}}& fileName1={{ app.request.query.get('fileName1')}}& file1={{ app.request.query.get('file1')}}& path1={{ app.request.query.get('path1')}}"></iframe>

</div>




    {% endblock %}
