{% extends "PrestaShopTestBundle::layout.html.twig" %}

{% block title %}
    high Test - {{ parent() }}
{% endblock %}

{% block prestaShopTest_body %}
    
    <hr>

    <script src="../assets/js/high.js"></script>

    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-high-list" data-toggle="list"
                   href="#list-high" role="tab" aria-controls="high">High Test</a>
                <a class="list-group-item list-group-item-action" id="list-highSpec-list" data-toggle="list"
                   href="#list-highSpec" role="tab" aria-controls="highSpec">Specific High Test</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-high" role="tabpanel" aria-labelledby="list-high-list">
                    <div class="alert alert-danger" role="alert" id="headlessAlert" style="display:none">
                        <h4 class="alert-heading">
                            <i class="fas fa-exclamation-triangle"></i> HEADLESS Mode !</h4>
                        <hr>
                        <p>
                            This option will not work perfectly if your chrome version is under
                            <b>62.0.3175.0</b>, especially for
                            <b>Category</b>,
                            <b>attribute</b> and
                            <b>feature</b> tests.
                        </p>
                    </div>
                    <form action="{{ path('prestaShop_test_display') }}" class="form-horizontal">
                        <input type="hidden" name="testType" value="high"/>
                        <div class="alert alert-secondary" role="alert">
                            If you want to run tests in HEADLESS Mode, check Here :
                            <div class="onoffswitch">
                                <input type="checkbox" value="true" name="HEADLESS" class="onoffswitch-checkbox"
                                       id="headless">
                                <label class="onoffswitch-label" for="headless">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>DIR :(REQUIRED)</label>
                            <input type="text" class="form-control" id="dir"
                                   placeholder="Your download directory (exp: /home/toto/Downloads/)"
                                   name="DIR" REQUIRED>
                        </div>
                        <div class="form-group">
                            <label>URL :(OPTIONAL)</label>
                            <input type="text" class="form-control" id="url"
                                   placeholder="Front office URL of your PrestaShop website without the 'http://'"
                                   name="URL">
                        </div>
                        <div class="form-group">
                            <label>MODULE :(OPTIONAL)</label>
                            <input type="text" class="form-control" id="module"
                                   placeholder="Module technical name to install"
                                   name="MODULE">
                        </div>
                        <input type="submit" class="btn btn-primary btn-block" value="Launch Test">

                    </form>
                    <br>
                    <button class="btn btn-warning btn-block" onclick="generateCmd()">Generate your
                        Command
                    </button>
                </div>


                <div class="tab-pane fade" id="list-highSpec" role="tabpanel" aria-labelledby="list-highSpec-list">

                    <div class="alert alert-danger" role="alert" id="headlessSpecAlert" style="display:none">
                        <h4 class="alert-heading">
                            <i class="fas fa-exclamation-triangle"></i> HEADLESS Mode !</h4>
                        <hr>
                        <p>
                            This option will not work perfectly if your chrome version is under
                            <b>62.0.3175.0</b>, especially for
                            <b>Category</b>,
                            <b>attribute</b> and
                            <b>feature</b> tests.
                        </p>
                    </div>
                    <form action="{{ path('prestaShop_test_display') }}" class="form-horizontal">
                        <input type="hidden" name="testType" value="highSpec"/>
                        <div class="alert alert-secondary" role="alert">
                            If you want to run tests in HEADLESS Mode, check Here :
                            <div class="onoffswitch">
                                <input type="checkbox" value="true" name="HEADLESS" class="onoffswitch-checkbox"
                                       id="headlessSpec">
                                <label class="onoffswitch-label" for="headlessSpec">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                        <label> Select a <b>Path</b> from the list below : (REQUIRED)</label>
                        <div class="form-group">

                            {% set folder="." %}
                            {% set Files = ManageFiles.getFiles(folder) %}
                            {% set files = Files|split('***') %}
                            <select style="width: 100% " name="folder" id="listFolders" required>
                                <option value="" disabled selected>-- Choose a Folder --</option>
                                {% for file in files %}
                                    {% if file != null %}
                                        <option value="{{ file }}">{{ file }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>

                        </div>
                        <div class="form-group" id="FileDiv" style="display:none">
                            <label> Select a <b>File</b> from the list below : (OPTIONAL)</label>
                            <select id="listFiles" name="file" style="width: 100% ">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>DIR :(REQUIRED)</label>
                            <input type="text" required class="form-control" id="dirSpec"
                                   placeholder="Your download directory (exp: /home/toto/Downloads/)"
                                   name="DIR">
                        </div>
                        <div class="form-group" id="divMod1">
                            <label for="module" id="labMod">MODULE :(OPTIONAL)</label>
                            <input type="text" class="form-control" id="moduleSpec"
                                   placeholder="Module technical name to install"
                                   name="MODULE">
                        </div>
                        <div class="form-group">
                            <label>URL :(OPTIONAL)</label>
                            <input type="text" class="form-control" id="urlSpec"
                                   placeholder="Front office URL of your PrestaShop website without the 'http://'"
                                   name="URL">
                        </div>
                        <input type="submit" class="btn btn-primary btn-block" value="Launch Test">
                    </form>
                    <br>
                    <button class="btn btn-warning btn-block" onclick="generateSpecCmd()">Generate your
                        Command
                    </button>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
