 {% extends "PrestaShopTestBundle::layout.html.twig" %} {% block title %} Accueil - {{ parent() }} {% endblock %}
 {% block prestaShopTest_body %}

<script type="text/javascript">
  function choix (){
  var selectBox = document.getElementById("idSelect");
  var selected = selectBox.options[selectBox.selectedIndex].value;
  switch(selected) {
    case 'ScreenShots':  window.location.replace("screenShot");break;
    case 'Mochawesome Report':  window.location.replace("mocha");break;
    
    
  }
}
</script>
<hr>

<div class="alert alert-danger" role="alert" id="alertId1">
  <i class="fas fa-exclamation-triangle"></i> Vous devez démarrer le serveur
  <b>Selenium</b> (npm run start-selenium) avant de
  <b>Lancer un Test</b> !
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <center>Regular Test</center>
        </h5>

        <a href="{{path('prestaShop_test_regular')}}" class="btn btn-primary btn-block"> Lancer le Test</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <center>Install, Autoupgrade and Rollback Tests</center>
        </h5>

        <a href="{{path('prestaShop_test_install')}}" class="btn btn-primary btn-block"> Lancer le Test</a>
      </div>
    </div>
  </div>


</div>
<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <center>High Test</center>
        </h5>

        <a href="{{path('prestaShop_test_high')}}" class="btn btn-primary btn-block"> Lancer le Test</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <center>Full Test</center>
        </h5>

        <a href="{{path('prestaShop_test_full')}}" class="btn btn-primary btn-block"> Lancer le Test</a>
      </div>
    </div>
  </div>


</div>
<br>
<div class="card">

  <div class="card-body">
    <h5 class="card-title">Résultats et Rapports</h5>
    <p class="card-text">Si vous voulez consulter les <select id="idSelect">
      <option>ScreenShots</option>
      <option>Mochawesome Report</option>
        
      </select> qui ont été généré(e)s après le lancement de vos tests <button class="btn btn-warning btn-sm" onclick="choix()">Cliquez Ici</button></a>.</p>

  </div>
  {% endblock %}