{% extends "PrestaShopTestBundle::layout.html.twig" %} {% block title %} install-upgrade Test - {{ parent() }} {% endblock %} {% block prestaShopTest_body %}

    <script src="../assets/js/install.js"></script>
    <hr>
    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                   href="#list-reg" role="tab"
                   aria-controls="home">Install and Autoupgrade Test </a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                   href="#list-spec" role="tab"
                   aria-controls="profile">Specific Install and Autoupgrade Test</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                   href="#list-messages" role="tab"
                   aria-controls="messages">Test Results & Reports</a>
                <a class="list-group-item list-group-item-action" id="list-screenShots-list" data-toggle="list"
                   href="#list-screenShots" role="tab"
                   aria-controls="screenShots">ScreenShots</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-reg" role="tabpanel" aria-labelledby="list-home-list">
                    <div class="alert alert-danger" role="alert" id="headlessAlert" style="display:none">
                        <h4 class="alert-heading">
                            <i class="fas fa-exclamation-triangle"></i> HEADLESS Mode !</h4>
                        <hr>
                        <p>
                            This option will not work perfectly if your chrome version is under
                            <b>62.0.3175.0</b>, especially for
                            <b>Category</b>,
                            <b>attribute</b> and
                            <b>feature</b> tests.
                        </p>
                    </div>
                    <form action="{{ path('prestaShop_test_display') }}" class="form-horizontal">
                        <input type="hidden" name="testType" value="install"/>
                        <div class="alert alert-secondary" role="alert" id="idInfo1">
                            If you want to run tests in HEADLESS Mode, check Here :
                            <div class="onoffswitch">
                                <input type="checkbox" value="true" name="HEADLESS" class="onoffswitch-checkbox"
                                       id="headless">
                                <label class="onoffswitch-label" for="headless">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>


                        </div>
                        <div class="card card-body">
                            <p>Veuiller cocher les champs optionels désirés</p>
                            <table>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="url_check"
                                                   name="url">
                                            <label class="form-check-label" for="url_check">
                                                Url
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox"
                                                   id="language_check" name="language">
                                            <label class="form-check-label" for="language_check">
                                                Language
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="country_check"
                                                   name="country">
                                            <label class="form-check-label" for="country_check">
                                                Country
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox"
                                                   id="dbServer_check" name="db_s">
                                            <label class="form-check-label" for="dbServer_check">
                                                DbServer
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="dbUser_check"
                                                   name="db_u">
                                            <label class="form-check-label" for="dbUser_check">
                                                DbUser
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="dbPwd_check"
                                                   name="db_pwd">
                                            <label class="form-check-label" for="dbPwd_check">
                                                DbPasswd
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" value="true" type="checkbox"
                                                   id="dbEmptyPwd_check" name="DB_EMPTY_PASSWD" data-toggle="popover"
                                                   data-trigger="focus"
                                                   title="Boolean option (default to false)"
                                                   data-content="Check here if you have no password">
                                            <label class="form-check-label" for="dbEmptyPwd_check">
                                                DbEmptyPasswd
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="rcLink"
                                                   id="rcLink_check"
                                                   checked>
                                            <label class="form-check-label" for="rcLink_check">
                                                RC_LINK
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="fileName"
                                                   id="fileName_check" data-toggle="popover"
                                                   data-trigger="focus"
                                                   title="RC file name"
                                                   data-content="this parameter must be mentioned if the (RCLINK) option is not indicated">
                                            <label class="form-check-label" for="fileName_check">
                                                File Name
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <br>
                        <div class="form-group" id="divDir">
                            <label for="dir">Dir (REQUIRED):</label>
                            <input type="text" class="form-control" id="dir" name="DIR"
                                   placeholder=" Your download directory (exp: /home/toto/Downloads/)"
                                   required>
                        </div>
                        <div class="form-group" id="divLast">
                            <label for="last">Url Last Stable Version (REQUIRED):</label>
                            <input type="text" class="form-control" id="last"
                                   placeholder="URL of the last stable version of PrestaShop from which you need to upgrade to the latest release"
                                   name="URLLASTSTABLEVERSION" required>
                        </div>
                        <div class="form-group" id="divTarget">
                            <label for="target">RC_Target (REQUIRED):</label>
                            <input type="text" class="form-control" id="target"
                                   placeholder="Last stable version location directory (example: /project/prestashop1724/)"
                                   name="RCTARGET" required>
                        </div>

                        <div class="form-group" id="divLink">
                            <label for="link">RC_LINK: (OPTIONAL)</label>
                            <input type="text" class="form-control" id="Inplink" placeholder="RC Download link"
                                   name="RCLINK" required>

                        </div>

                        <div class="form-group" id="divUrl" style="display:none">
                            <label>
                                Url: (OPTIONAL)
                            </label>
                        </div>

                        <div class="form-group" id="divLan" style="display:none">
                            <label>
                                Language:(OPTIONAL)
                            </label>
                        </div>
                        <div class="form-group" id="divCou" style="display:none">
                            <label>
                                Country: (OPTIONAL)
                            </label>
                        </div>
                        <div class="form-group" id="divDbS" style="display:none">
                            <label>DB_SERVER :(OPTIONAL)</label>
                        </div>
                        <div class="form-group" id="divDbU" style="display:none">
                            <label>DB_USER :(OPTIONAL)</label>
                        </div>
                        <div class="form-group" id="divDbP" style="display:none">
                            <label>DB_PASSWD :(OPTIONAL)</label>
                        </div>
                        <div class="form-group" id="divFileName" style="display:none">
                            <label>FileName: (OPTIONAL)</label>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block" value="Launch Test">
                        </div>
                    </form>
                    <button class="btn btn-warning btn-block" onclick="generateCmd()">Generate Your Command
                    </button>
                    <br>
                </div>
                <div class="tab-pane fade" id="list-spec" role="tabpanel" aria-labelledby="list-profile-list">
                    <div class="alert alert-danger" role="alert" style="display:none" id="alertId">
                        <h5 class="alert-heading">
                            <i class="fas fa-exclamation-triangle"></i> Note!</h5>
                        <hr>
                        If you have run only the <b>install_upgrade/01_install.js</b> with <b>language</b> and <b>country</b>
                        respectively different from <b>"en"</b> and <b>"france"</b> you need to reinstall PrestaShop in
                        <b>English</b> with setting
                        country to <b>France</b> So you can launch the other tests.
                    </div>
                    <div class="alert alert-danger" role="alert" id="headlessSpecAlert" style="display:none">
                        <h4 class="alert-heading">
                            <i class="fas fa-exclamation-triangle"></i> HEADLESS Mode !</h4>
                        <hr>
                        <p>
                            This option will not work perfectly if your chrome version is under
                            <b>62.0.3175.0</b>, especially for
                            <b>Category</b>,
                            <b>attribute</b> and
                            <b>feature</b> tests.
                        </p>
                    </div>
                    <form action="{{ path('prestaShop_test_display') }}" class="form-horizontal">
                        <input type="hidden" name="testType" value="installSpec"/>
                        <div class="alert alert-secondary" role="alert">
                            If you want to run tests in HEADLESS Mode, check Here :
                            <div class="onoffswitch">
                                <input type="checkbox" value="true" name="HEADLESS" class="onoffswitch-checkbox"
                                       id="headlessSpec">
                                <label class="onoffswitch-label" for="headlessSpec">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                        <div class="card card-body">
                            <p>Veuiller cocher les champs optionels désirés</p>
                            <table>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="urlSpec_check"
                                                   name="urlSpec">
                                            <label class="form-check-label" for="urlSpec_check">
                                                Url
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox"
                                                   id="languageSpec_check" name="languageSpec">
                                            <label class="form-check-label" for="languageSpec_check">
                                                Language
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="countrySpec_check"
                                                   name="countrySpec">
                                            <label class="form-check-label" for="countrySpec_check">
                                                Country
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox"
                                                   id="dbServerSpec_check" name="db_sSpec">
                                            <label class="form-check-label" for="dbServerSpec_check">
                                                DbServer
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="dbUserSpec_check"
                                                   name="db_uSpec">
                                            <label class="form-check-label" for="dbUserSpec_check">
                                                DbUser
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="dbPwdSpec_check"
                                                   name="db_pwdSpec">
                                            <label class="form-check-label" for="dbPwdSpec_check">
                                                DbPasswd
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="true"
                                                   id="dbEmptyPwdSpec_check" name="DB_EMPTY_PASSWD"
                                                   data-toggle="popover"
                                                   data-trigger="focus"
                                                   title="Boolean option (default to false)"
                                                   data-content="Check here if you have no password">
                                            <label class="form-check-label" for="dbEmptyPwdSpec_check">
                                                DbEmptyPasswd
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="rcLinkSpec"
                                                   id="rcLinkSpec_check"
                                                   checked>
                                            <label class="form-check-label" for="rcLinkSpec_check">
                                                RC_LINK
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="fileNameSpec"
                                                   id="fileNameSpec_check" data-toggle="popover"
                                                   data-trigger="focus"
                                                   title="RC file name"
                                                   data-content="this parameter must be mentioned if the (RCLINK) option is not indicated">
                                            <label class="form-check-label" for="fileNameSpec_check">
                                                File Name
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <label> Select a <b>Path</b> from the list below :</label>
                        <div class="form-group">

                            {% set folder="." %}
                            {% set Files = ManageFiles.getFiles(folder) %}
                            {% set files = Files|split('***') %}
                            <select name="folder" id="listFolders" required style="width: 100% ">
                                <option value="" disabled selected>-- Choose a Folder --</option>
                                {% for file in files %}
                                    {% if file != null %}
                                        <option value="{{ file }}">{{ file }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group" id="FileDiv" style="display:none">
                            <label> Select a <b>File</b> from the list below : (OPTIONAL)</label>
                            <select id="listFiles" name="file" style="width: 100% ">

                            </select>
                        </div>
                        <div class="form-group" id="divDirSpec">
                            <label for="dirSpec">Dir (REQUIRED):</label>
                            <input type="text" class="form-control" id="dirSpec" name="DIR"
                                   placeholder=" Your download directory (exp: /home/toto/Downloads/)"
                                   required>
                        </div>
                        <div class="form-group" id="divLastSpec">
                            <label for="lastSpec">Url Last Stable Version (REQUIRED):</label>
                            <input type="text" class="form-control" id="lastSpec"
                                   placeholder="URL of the last stable version of PrestaShop (without the “http://”) from which you need to upgrade to the latest release candidate"
                                   name="URLLASTSTABLEVERSION" required>
                        </div>
                        <div class="form-group" id="divTargetSpec">
                            <label for="targetSpec">RC_Target (REQUIRED):</label>
                            <input type="text" class="form-control" id="targetSpec"
                                   placeholder="Last stable version location directory (example: /project/prestashop1724/)"
                                   name="RCTARGET" required>
                        </div>

                        <div class="form-group" id="divLinkSpec">
                            <label for="linkSpec">RC_LINK: (OPTIONAL)</label>
                            <input type="text" class="form-control" id="InplinkSpec" placeholder="RC Download link"
                                   name="RCLINK" required>

                        </div>
                        <div class="form-group" id="divUrlSpec" style="display:none">
                            <label>
                                Url: (OPTIONAL)
                            </label>
                        </div>

                        <div class="form-group" id="divLanSpec" style="display:none">
                            <label>
                                Language:(OPTIONAL)
                            </label>
                        </div>
                        <div class="form-group" id="divCouSpec" style="display:none">
                            <label>
                                Country: (OPTIONAL)
                            </label>
                        </div>
                        <div class="form-group" id="divDbSSpec" style="display:none">
                            <label>DB_SERVER :(OPTIONAL)</label>
                        </div>
                        <div class="form-group" id="divDbUSpec" style="display:none">
                            <label>DB_USER :(OPTIONAL)</label>
                        </div>
                        <div class="form-group" id="divDbPSpec" style="display:none">
                            <label>DB_PASSWD :(OPTIONAL)</label>
                        </div>
                        <div class="form-group" id="divFileNameSpec" style="display:none">
                            <label for="language">
                                FileName: (OPTIONAL)
                            </label>
                        </div>

                        <br>
                        <div class="input-group mb-3">
                            <input type="submit" class="btn btn-primary btn-block" value="Launch Test">
                        </div>
                    </form>
                    <button class="btn btn-warning btn-block" id="genBtn1" onclick="generateCmdSpec()">Generate Your
                        Command
                    </button>
                </div>
                <div class="tab-pane fade" id="list-messages" role="tabpanel"
                     aria-labelledby="list-messages-list">
                    {% set type="mocha" %}
                    {{  TestResults.getReport(type)}}
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-justified nav-tabs-info">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#html">Html Version</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#json">Json Version</a>
                        </li>

                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="html">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item"
                                        src="../assets/mochawesome-report/mochawesome.html"></iframe>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="json">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item"
                                        src="../assets/mochawesome-report/mochawesome.json"></iframe>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="tab-pane fade" id="list-screenShots" role="tabpanel"
                     aria-labelledby="list-screenShots-list">


                    <button type="button" id="screen" class="btn btn-outline-success btn-block">
                        <i class="fa fa-image"></i>
                        <span>Load ScreenShots</span>
                    </button>
                    <div id="load" style="display: none">
                        <img src="../assets/imgs/loader.gif" id="loading"
                             style=" display: block; margin-left: auto; margin-right: auto;">
                    </div>
                    <div class="row1">
                        <div id="links">


                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}