{% extends "PrestaShopTestBundle::layout.html.twig" %} {% block title %} Regular Test - {{ parent() }} {% endblock %} {% block prestaShopTest_body %}


    <script src="../assets/js/regular.js"></script>

    <hr>
    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-regular-list" data-toggle="list"
                   href="#list-reg" role="tab"
                   aria-controls="home">Regular Test</a>
                <a class="list-group-item list-group-item-action" id="list-regularSpec-list" data-toggle="list"
                   href="#list-spec" role="tab"
                   aria-controls="profile">Specific Regular Test</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-reg" role="tabpanel"
                     aria-labelledby="list-regular-list">
                    <div class="alert alert-danger" role="alert" id="headlessAlert" style="display:none">
                        <h4 class="alert-heading">
                            <i class="fas fa-exclamation-triangle"></i> HEADLESS Mode !</h4>
                        <hr>
                        <p>
                            This option will not work perfectly if your chrome version is under
                            <b>62.0.3175.0</b>, especially for
                            <b>Category</b>,
                            <b>attribute</b> and
                            <b>feature</b> tests.
                        </p>
                    </div>
                    <form action="{{ path('prestaShop_test_display') }}" class="form-horizontal">
                        <input type="hidden" name="testType" value="regular"/>
                        <div class="alert alert-secondary" role="alert" id="idInfo1">
                            If you want to run tests in HEADLESS Mode, check Here :
                            <div class="onoffswitch">
                                <input type="checkbox" value="true" name="HEADLESS" class="onoffswitch-checkbox"
                                       id="headless">
                                <label class="onoffswitch-label" for="headless">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>


                        </div>
                        <div class="card card-body">
                            <p>Check the desired optional options</p>

                            <table>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox"
                                                   id="url_check" name="url"
                                            >
                                            <label class="form-check-label" for="url_check">
                                                Url
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="module_check"
                                                   name="module"
                                            >
                                            <label class="form-check-label" for="module_check">
                                                Module
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="install_check"
                                                   name="INSTALL" data-toggle="popover" data-trigger="focus"
                                                   title="Boolean option (default to false)"
                                                   data-content="Check here if you want to run the installation script"
                                                   value="true"
                                            >
                                            <label class="form-check-label" for="install_check">
                                                Install
                                            </label>
                                        </div>

                                    </td>

                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" value="true" type="checkbox"
                                                   id="testAddons_check"
                                                   name="TEST_ADDONS" data-toggle="popover" data-trigger="focus"
                                                   title="Boolean option (default to false)"
                                                   data-content="Check here if you want to disable check with Addons API">
                                            <label class="form-check-label" for="testAddons_check">
                                                TestAddons
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="language_check"
                                                   name="language"
                                            >
                                            <label class="form-check-label" for="language_check">
                                                Language
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="country_check"
                                                   name="country"
                                            >
                                            <label class="form-check-label" for="country_check">
                                                Country
                                            </label>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="dbServer_check"
                                                   name="dbServer"
                                            >
                                            <label class="form-check-label" for="dbServer_check">
                                                DbServer
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="dbUser_check"
                                                   name="dbUser"
                                            >
                                            <label class="form-check-label" for="dbUser_check">
                                                DbUser
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="dbPwd_check"
                                                   name="dbPwd"
                                            >
                                            <label class="form-check-label" for="dbPwd_check">
                                                DbPasswd
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" value="true" type="checkbox"
                                                   id="dbEmptyPwd_check"
                                                   name="DB_EMPTY_PASSWD" data-toggle="popover" data-trigger="focus"
                                                   title="Boolean option (default to false)"
                                                   data-content="Check here if you have no password">
                                            <label class="form-check-label" for="dbEmptyPwd_check">
                                                DbEmptyPasswd
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </table>

                        </div>
                        <br>
                        <div class="form-group" id="divUrl" style="display:none">
                            <label>URL :(OPTIONAL)</label>

                        </div>
                        <div class="form-group" id="divMod" style="display:none">
                            <label>MODULE :(OPTIONAL)</label>

                        </div>


                        <div class="form-group" id="divLan" style="display:none">
                            <label>LANGUAGE :(OPTIONAL)</label>

                        </div>
                        <div class="form-group" id="divCou" style="display:none">
                            <label>COUNTRY :(OPTIONAL)</label>

                        </div>
                        <div class="form-group" id="divDbS" style="display:none">
                            <label>DB_SERVER :(OPTIONAL)</label>

                        </div>
                        <div class="form-group" id="divDbU" style="display:none">
                            <label>DB_USER :(OPTIONAL)</label>

                        </div>
                        <div class="form-group" id="divDbP" style="display:none">
                            <label>DB_PASSWD :(OPTIONAL)</label>

                        </div>

                        <br>
                        <div class="form-group" id="divBtn">

                            <input type="submit" class="btn btn-primary btn-block" value="Launch Test">
                        </div>

                    </form>

                    <button class="btn btn-warning btn-block" onclick="generateCmd()">Generate Your Command
                    </button>

                </div>
                <div class="tab-pane fade" id="list-spec" role="tabpanel" aria-labelledby="list-regularSpec-list">
                    <div class="alert alert-danger" role="alert" id="headlessSpecAlert" style="display:none">
                        <h4 class="alert-heading">
                            <i class="fas fa-exclamation-triangle"></i> HEADLESS Mode !</h4>
                        <hr>
                        <p>
                            This option will not work perfectly if your chrome version is under
                            <b>62.0.3175.0</b>, especially for
                            <b>Category</b>,
                            <b>attribute</b> and
                            <b>feature</b> tests.
                        </p>
                    </div>
                    <form action="{{ path('prestaShop_test_display') }}" class="form-horizontal">
                        <input type="hidden" name="testType" value="regularSpec"/>
                        <div class="alert alert-secondary" role="alert" id="idInfo1">


                            If you want to run tests in HEADLESS Mode, check Here :
                            <div class="onoffswitch">
                                <input type="checkbox" name="HEADLESS" value="true" class="onoffswitch-checkbox"
                                       id="headlessSpec">
                                <label class="onoffswitch-label" for="headlessSpec">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>

                        </div>

                        <label> Select a <b>Path</b> from the list below :</label>

                        <div class="form-group">

                            {% set folder="." %}
                            {% set Files = ManageFiles.getFiles(folder) %}
                            {% set files = Files|split('***') %}
                            <select name="folder" id="listFolders" required style="width: 100% ">
                                <option value="" disabled selected>-- Choose a Folder --</option>
                                {% for file in files %}
                                    {% if file != null %}
                                        <option value="{{ file }}">{{ file }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group" id="FileDiv" style="display:none">
                            <label> Select a <b>File</b> from the list below : (OPTIONAL)</label>
                            <select id="listFiles" name="file" style="width: 100% ">

                            </select>
                        </div>
                        <div class="card card-body">
                            <p>check the desired optional options</p>

                            <table>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="urlSpec_check"
                                                   name="urlSpec"
                                            >
                                            <label class="form-check-label" for="urlSpec_check">
                                                Url
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="moduleSpec_check"
                                                   name="moduleSpec"
                                            >
                                            <label class="form-check-label" for="moduleSpec_check">
                                                Module
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="true"
                                                   id="installSpec_check"
                                                   name="INSTALL" data-toggle="popover" data-trigger="focus"
                                                   title="Boolean option (default to false)"
                                                   data-content="Check here if you want to run the installation script"
                                            >
                                            <label class="form-check-label" for="installSpec_check">
                                                Install
                                            </label>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="true"
                                                   id="testAddonsSpec_check"
                                                   name="TEST_ADDONS" data-toggle="popover" data-trigger="focus"
                                                   title="Boolean option (default to false)"
                                                   data-content="Check here if you want to disable check with Addons API">
                                            <label class="form-check-label" for="testAddonsSpec_check">
                                                TestAddons
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="languageSpec_check"
                                                   name="languageSpec"
                                            >
                                            <label class="form-check-label" for="languageSpec_check">
                                                Language
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="countrySpec_check"
                                                   name="countrySpec"
                                            >
                                            <label class="form-check-label" for="countrySpec_check">
                                                Country
                                            </label>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="dbServerSpec_check"
                                                   name="dbServerSpec"
                                            >
                                            <label class="form-check-label" for="dbServerSpec_check">
                                                DbServer
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="dbUserSpec_check"
                                                   name="dbUserSpec"
                                            >
                                            <label class="form-check-label" for="dbUserSpec_check">
                                                DbUser
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" name="dbPwdSpec" type="checkbox"
                                                   id="dbPwdSpec_check">
                                            <label class="form-check-label" for="dbPwdSpec_check">
                                                DbPasswd
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="true"
                                                   id="dbEmptyPwdSpec_check"
                                                   name="DB_EMPTY_PASSWD" data-toggle="popover" data-trigger="focus"
                                                   title="Boolean option (default to false)"
                                                   data-content="Check here if you have no password">
                                            <label class="form-check-label" for="dbEmptyPwdSpec_check">
                                                DbEmptyPasswd
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <br>

                        <div class="form-group" id="divUrlSpec" style="display:none">
                            <label>URL :(OPTIONAL)</label>

                        </div>
                        <div class="form-group" id="divModSpec" style="display:none">
                            <label id="labModSpec">MODULE :(OPTIONAL)</label>

                        </div>

                        <div class="form-group" id="divLanSpec" style="display:none">
                            <label>LANGUAGE :(OPTIONAL)</label>

                        </div>
                        <div class="form-group" id="divCouSpec" style="display:none">
                            <label>COUNTRY :(OPTIONAL)</label>

                        </div>
                        <div class="form-group" id="divDbSSpec" style="display:none">
                            <label>DB_SERVER :(OPTIONAL)</label>

                        </div>
                        <div class="form-group" id="divDbUSpec" style="display:none">
                            <label>DB_USER :(OPTIONAL)</label>

                        </div>
                        <div class="form-group" id="divDbPSpec" style="display:none">
                            <label>DB_PASSWD :(OPTIONAL)</label>

                        </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block" value="Launch Test">
                        </div>
                    </form>

                    <button class="btn btn-warning btn-block" id="genBtn1" onclick="generateCmdSpec()">Generate your
                        command
                    </button>

                </div>
            </div>

        </div>

    </div>

{% endblock %}
