{% extends "PrestaShopTestBundle::layout.html.twig" %} {% block title %} ScreenShots - {{ parent() }} {% endblock %} {% block prestaShopTest_body
    %}
    <h2>ScreenShots</h2>
   
    <hr>





    <div class="row">
        {% for img in list %}
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="{{chemin}}/{{img}}">
                        <img src="{{chemin}}/{{img}}" alt="{{img}}" style="width:100%">
                        <div class="caption">
                            <p>{{img}}</p>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>


      {% endblock %}